.default-button {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    line-height: normal;
    transform: scaleX(1);
    transition: all 0.5s ease;
}

.button-small {
    padding: 8px 12px;
    font-size: 12px;
}

.button-medium {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 18px;
    height: 32px;
}

.button-large {
    padding: 12px 20px;
    font-size: 16px;
}

.primary-button {
    color: #F2F2F2;
    background: #0088C7;
    border: 1px solid #0088C7;
}

.primary-button:hover {
    color: #111111;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.secondary-button {
    color: #f2f2f2;
    background: transparent;
    border: 1px solid #f2f2f2;
}

.secondary-button:hover {
    color: #111111;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.secondary-button .arrow {
    transition: all 0.3s ease;
}

.secondary-button:hover .arrow {
    transform: rotate(20);
}