.default-button {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.button-small {
    padding: .25rem 1rem;
    font-size: 0.8rem;
}

.button-medium {
    padding: .50rem 1.25rem;
    font-size: 1rem;
}

.button-large {
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
}

.primary-button {
    color: #fff;
    background: #00a4ef;
}

.secondary-button {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.secondary-button .arrow {
    transition: all 0.3s ease;
}

.secondary-button:hover .arrow {
    transform: rotate(20);
}