.core-card-wrapper {
    border: 0.5px solid #555555;
    border-radius: 12px;
    flex: 1;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.core-card-wrapper>span {
    margin-bottom: 12px;
}
.core-card-wrapper h6.heading {
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   color: #f2f2f2;
}
.core-card-wrapper p.content {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
}