.section-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-reverse {
    flex-direction: row-reverse;
}
.flex-reverse .section-left-card {
    padding-left: 2rem;
}
.section-left-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 2rem;
}
.section-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    letter-spacing: 0.5px;
    width: max-content;
    font-size: 16px;
    font-weight: 400;
    color: #F2F2F2;
    border-bottom: 2px solid rgb(0, 164, 239);
    margin-bottom: 12px;
    padding-bottom: 8px;
}
.section-card-heading {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 12px;
    line-height: normal;
}
.heading-plane {
    color: #fff;
}
.heading-colored {
    color: #00A4EF;
}
.section-card-description1 {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
    
}
.section-card-description2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.section-buttons-container {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}
.section-right-card{
    width: 50%;
}