.section-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-reverse {
    flex-direction: row-reverse;
}
.flex-reverse .section-left-card {
    padding-left: 2rem;
}
.section-left-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 2rem;
}
.section-card-title {
    letter-spacing: 1px;
    border-bottom: 2px solid rgb(0, 164, 239);
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin-bottom: 0.75rem;
    font-size: 16px;
    display: flex;
    font-weight: 400;
    padding-bottom: 4px;
}
.section-card-heading {
    font-size: 2.5rem;
    text-align: left;
    line-height: 3rem;
    margin-bottom: 1rem;
}
.heading-plane {
    color: #fff;
}
.heading-colored {
    color: #00A4EF;
}
.section-card-description1 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.section-card-description2 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.section-buttons-container {
    display: flex;
    flex-direction: 'row';
    gap: 1rem;
    margin-top: 1rem;
}
.section-right-card{
    width: 50%;
}