.section-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
}
.flex-reverse {
    flex-direction: row-reverse;
}
.flex-reverse .section-left-card {
    padding-left: 2rem;
}
.section-left-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 2rem;
}
.section-card-title {
    letter-spacing: 1px;
    border-bottom: 2px solid #00a4ef;
    margin-bottom: .75rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: max-content;
    gap: 10px;
}
.section-card-title svg{
    width: 24px;
    height: 24px;
}
.section-card-heading {
    font-size: 3rem;
    text-align: left;
    line-height: 3rem;
    margin-bottom: 1rem;
}
.heading-plane {
    color: #fff;
}
.heading-colored {
    color: #00A4EF;
}
.section-card-description1 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.section-card-description2 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.section-buttons-container {
    display: flex;
    flex-direction: 'row';
    gap: 1rem;
    margin-top: 1rem;
}
.section-right-card{
    width: 50%;
}