.hero-section {
    text-align: center;
    color: #fff;
    height: 80vh;
    min-height: 80vh;
    padding: 120px 24px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-content {
    z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.hero-title {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: normal;
}

.hero-subtitle {
    color: #F2F2F2;
    max-width: 70%;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.hero-buttons {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin-top: 4px;
}
.hero-content button svg {
    transform: rotate(-90deg);
}