.hero-section {
    text-align: center;
    color: #fff;
    background: #0a0a0a;
    min-height: 80vh;
    padding: 120px 24px;
    position: relative;
    overflow: hidden;
}
.hero-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: -9;
}
.hero-video {
    object-fit: cover;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}
.hero-content {
    z-index: 10;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title {
    margin-bottom: 32px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: normal;
}
.hero-subtitle {
    color: #d1d5db;
    max-width: 720px;
    margin: 0 auto 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
.heading-wrapper .heading-title {
    letter-spacing: 1px;
    border-bottom: 2px solid #00a4ef;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: max-content;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
}
.heading-wrapper .main-heading {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-top: 12px;
}
.heading-wrapper .description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 12px;
    line-height: normal;
    width: 80%;
    color: #F2F2F2;
}
.domains-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}
.domain-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    border-radius: 12px;
    /* min-height: 160px; */
    background: linear-gradient(276.32deg, rgba(50, 31, 150, 0.2) -17.15%, rgba(5, 0, 75, 0.2) -5.14%, rgba(0, 178, 194, 0.2) 98.86%);
}
.domain-card svg {
    margin-bottom: 12px;
    opacity: 0.9;
}
.domain-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}
.domain-card p {
  font-size: 14px;
  font-weight: 400;
  color: #cbd5f5;
  line-height: normal;
}
.domains-last-row {
  grid-column: 1 / -1; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

