.cards-wrapper {
  flex-direction: row;
  display: flex;
  gap: 12px;
}

.mt-12 {
  margin-top: 12px;
}
.mt-24 {
  margin-top: 12px;
}
.section-inner-padding {
  padding: 0 3rem;
}
.flex-column{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.text-center {
  text-align: center;
}