footer.footer-section {
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 2rem 0 1rem;
    display: flex;
    flex-direction: column;
}
.footer-inner {
    justify-content: space-between;
    gap: 80px;
    display: flex;
    position: relative;
    padding: 40px 40px 0;
}
.footer-brand {
    flex-shrink: 0;
    width: 40%;
    border-right: 1px solid #ffffff30;
    padding: 0px 40px;
}
.brand-title {
  margin-bottom: 12px;
}
.brand-tagline {
  font-size: 14px;
  font-weight: 400;
  color: #6D6D71;
  letter-spacing: 1px;
}
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 3rem;
}
.social-icons a {
  /* width: 30px;
  height: 30px; */
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 16px;
  font-weight: 600; */
  /* color: #030720; */
  text-decoration: none;
  /* background: #fff; */
  transition: all 0.2s ease;
}
.social-icons a svg {
  color: white;
  transform: scale(1.5);
}
.social-icons a:hover {
  opacity: 1;
  border-color: #030720;
}
.footer-columns {
    gap: 30px;
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 0px 40px 40px;
}
.column {
  max-width: 1400px;
}

.column h3 {
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  opacity: 0.95;
}

.column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.column li {
    cursor: pointer;
    font-size: 13px;
    color: #f2f2f2;
    font-weight: 400;
}

.column li:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #ffffff30;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 26px 7rem 13px;
}
.footer-bottom p {
  color: #F2F2F2;
  font-size: 12px;
  font-weight: 400;
}
.back-to-top {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;;
}

.back-to-top:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.no-link {
  text-decoration: none;
  color: inherit;
}